body{
	background-color: white;
	background-size: 100%;
}

p{
	font-family: 'Overpass', sans-serif;
}

.greetings{
	font-size: 80px;
	position: absolute;
	left: 3%;
	top: 15%;
	background-color: rgb(150, 150, 150);
	padding: 5px;
}

.outerDiv{
	color: #fff;
	height: 45em;
	width: 100%;
	margin: 0px auto;
	padding: 5px;
}

.leftDiv{
	height: 45em;
	width: 50%;
	float: left;
}

.rightDiv{
	height: 45em;
	width: 50%;
	float: right;
	vertical-align: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-color: black;
}

#forms{
	width: 300%;
	height: 300px;
}

#class2{
	margin: auto;
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}
  
.active, .accordion:hover {
	background-color: #ccc;
}
  
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}