{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Hi!</title>
</head> 
<body class="body1">
    <div class="spinner-border" id="loading" role="status" style="top:50%; left:50%;">
            <span class="sr-only">Loading...</span>
    </div>
    <br>
    <div id="hide">
           
            <div class="row">
                <div class="col-1"></div>   
                <div class="col-2">
                    <p class="greetings1" style="padding: 0 40px ;color: white"><span style="font-size: 400%">a</span><span>bout</span></p>

                </div>
                <div class="col-2"></div>
                <div class="col-6">
                        <button type="Submit" class="btn btn-primary class2 align-content-center" id="buttonTheme1" style="margin:10%;">Tema A</button>
                        <button type="Submit" class="btn btn-primary class2 " id="buttonTheme2">Tema B</button>
                        
                        
                    <button class="accordion" id="aktivitas">Aktivitas</button>
                    <div class="panel">
                        <p>Tidak ada, saya apatis:(</p>
                    </div>
                    
                    <button class="accordion" id="organisasi">Organisasi</button>
                    <div class="panel">
                        <p>FUKI doang</p>
                    </div>
                    
                    <button class="accordion" id="prestasi">Prestasi</button>
                    <div class="panel">
                        <p>Gaada, saya cupu:(</p>
                    </div>        
                </div>
                <div class="col-1"></div>
        
                <div style="clear:both;"></div>
            </div>
    </div>
   
    <script>

    </script>
    <script src="{% static "js/index.js" %}" type="text/javascript"></script>
</body>
</html>
